<div class="">
	<h1>Hola, Hola!</h1>
	<p>
		<img src="images/ico.png" alt="I'm Funny"><br>
		Always a pleasure scaffolding your apps
	</p>
	<p><a href="#" class="btn btn-lg btn-success">Splendid!
	<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<ul class="row">
	<li ng-repeat="things in awesomeThings">{{things}}</li>
</ul>
<div class="row">
	<h4>HTML5 Boilerplate</h4>
	<p>
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
	</p>

	<h4>Angular</h4>
	<p>
		Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
	</p>

	<h4>Karma</h4>
	<p>
		Li Europan lingues es membres del sam familie. Lor separat
	</p>
</div>