<div class="container">
	<!-- <h2>Mis Tareas</h2> -->
	<!-- <carousel interval="setInterval">
		<slide ng-repeat="slide in slides" active = "slide.active">
			<img ng-src="{{slide.image}}" class="carousel-image">
			<div class="carousel-caption">
				<h2>{{slide.title}}</h2>
				<p>{{slide.text}}</p>
			</div>
		</slide>
	</carousel> -->
	<br/>
	<div class="row">
		<uib-carousel interval="setInterval">
	        <uib-slide ng-repeat="slide in slides" active="slide.active" index="$index">
	          <img ng-src="{{slide.image}}" style="margin:auto;">
	          <div class="carousel-caption">
	            <h2>{{$index+1}}.-{{slide.title}}</h2>
				<p>{{slide.text}}</p>
	          </div>
	        </uib-slide>
	      </uib-carousel>
	</div>
	<!-- todos input -->
	<!-- <form role="form" ng-submit="addTarea()">
		<div class="row">
			<div class="input-group">
				<input type="text" name="" ng-model="tarea" class="form-control" placeholder="Qué tarea quieres guardar?">
				<span class="input-group-btn">
					<input type="submit" name="" class="btn btn-primary" value="Añadir">
				</span>
			</div>
		</div>
	</form>
	<p>		
	</p>-->
	<!-- todo list -->
	<!-- <div ui-sortable ng-model="tareas">
		<p class="input-group" ng-repeat="tarea in tareas | orderBy:tarea" style="padding:5px 10px; cursor:move;">		
			<input type="text" name="" ng-model="tarea" class="form-control">
			<span class="input-group-btn">
				<button class="btn btn-danger" ng-click="eliminarTarea($index)" aria-label="Eliminar">
					X
				</button>
			</span>
		</p>	
	</div> -->
	
</div>